* {
  padding: 0;
  margin: 0;
}
.container {
  background-color: #484848;
  width: 35%;
  margin: 0 auto;
  margin-top: 50px;
  height: 500px;
}
.container .form {
  margin: 0 auto;
  color: #d0d0d0;
  font-size: 20px;
  font-family: arial;
}
.container .form .items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.container .form .items .item {
  width: 100%;
  list-style: none;
}
.container .form .items .item input {
  border-radius: 5px;
}
.container .form button {
  width: 150px;
}
